
*{
    padding: 0;
    margin: 0;
}
body{
    background-position: center center;
    background : radial-gradient(circle,#0f0c1d,#635cb6);
 
}

#contenedor{

    text-align: center;
    background-color: #24263154;
    height: 640px;
    width: 90%;
    position: absolute;
    left: 5%;
    top: 18%;
    border-radius:20px;
    border-radius:20px;
    padding:10px;

}

.botones{

    width: 540px;
    height: 100px;
    position: relative;
    left: 2%;
    bottom: 70%;
    background-color: #191a2169;
    border-radius:10px;
    border-radius:10px;
}
.tablero{

    position: relative;
    left: 620px;
    top: 50px;
 
}
#rulers{

    color: white;
    text-align: justify;
    background-color: #232339ab;
    width: 500px;
    height: 500px; 
    position: absolute;
    right: 4%;
    top: 13%;
    border-radius:10px;
    border-radius:10px;
    font-family:'Verdana';  
    
}
input{

    color: white;
    padding: 0;
    border: 0;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 25px;
    outline: none;
    background-color:#6A5ACC;

}

#f0c0,#f0c1,#f0c2{ border-top: 5px solid  black;}
#f0c0,#f1c0,#f2c0{ border-left: 5px solid black; }
#f2c0,#f2c1,#f2c2{ border-bottom: 5px solid black; }
#f0c2,#f1c2,#f2c2{ border-right: 5px solid  black; }

#f0c3,#f0c4,#f0c5{ border-top: 5px solid black;  background-color :#4d4297;}
#f0c3,#f1c3,#f2c3{ border-left:  5px solid black;  background-color :#4d4297;}
#f2c3,#f2c4,#f2c5{ border-bottom:  5px solid black;  background-color :#4d4297;}
#f0c5,#f1c5,#f2c5{ border-right: 5px solid black; background-color :#4d4297}

#f0c6,#f0c7,#f0c8{ border-top: 5px solid black; }
#f0c6,#f1c6,#f2c6{ border-left:  5px solid black; }
#f2c6,#f2c7,#f2c8{ border-bottom:  5px solid black; }
#f0c8,#f1c8,#f2c8{ border-right: 5px solid black }

#f3c0,#f3c1,#f3c2{ border-top: 5px solid black;  background-color :#4d4297;}
#f3c0,#f4c0,#f5c0{ border-left: 5px solid black; background-color :#4d4297;}
#f5c0,#f5c1,#f5c2{ border-bottom: 5px solid black;  background-color :#4d4297;}
#f3c2,#f4c2,#f5c2{ border-right: 5px solid black;  background-color :#4d4297;}

#f3c3,#f3c4,#f3c5{ border-top: 5px solid black; }
#f3c3,#f4c3,#f5c3{ border-left: 5px solid black; }
#f5c3,#f5c4,#f5c5{ border-bottom: 5px solid black; }
#f3c5,#f4c5,#f5c5{ border-right: 5px solid black; }

#f3c6,#f3c7,#f3c8{ border-top: 5px solid black;  background-color :#4d4297;}
#f3c6,#f4c6,#f5c6{ border-left: 5px solid black; background-color :#4d4297; }
#f5c6,#f5c7,#f5c8{ border-bottom: 5px solid black;  background-color :#4d4297;}
#f3c8,#f4c8,#f5c8{ border-right: 5px solid black;  background-color :#4d4297;}

#f6c0,#f6c1,#f6c2{ border-top: 5px solid black; }
#f6c0,#f7c0,#f8c0{ border-left: 5px solid black; }
#f8c0,#f8c1,#f8c2{ border-bottom: 5px solid black; }
#f6c2,#f7c2,#f8c2{ border-right: 5px solid black; }

#f6c3,#f6c4,#f6c5{ border-top: 5px solid black;  background-color :#4d4297;}
#f6c3,#f7c3,#f8c3{ border-left: 5px solid black;  background-color :#4d4297;}
#f8c3,#f8c4,#f8c5{ border-bottom: 5px solid black;  background-color :#4d4297;}
#f6c5,#f7c5,#f8c5{ border-right: 5px solid black;  background-color :#4d4297;}

#f6c6,#f6c7,#f6c8{ border-top: 5px solid black; }
#f6c6,#f7c6,#f8c6{ border-left: 5px solid black; }
#f8c6,#f8c7,#f8c8{ border-bottom: 5px solid black; }
#f6c8,#f7c8,#f8c8{ border-right: 5px solid black; }

#f1c4,#f4c1,#f4c7,#f7c4{background-color :#4d4297;}

button{

    border: 1000px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: solid;
    font-size: 30px;
    margin: 8px 8px;
    cursor: pointer;

}
#check,#new,#solve{
    background-color: #796CDA;
    color: white;
    width: 150px;
    position: relative;
    top: 10%;
    border-radius:5px;
    border-radius:5px;

}

h1 {
  display: inline-block;
  color: white;
  font-family:'Verdana';
  font-size: 100px; 
  text-align: center;
  line-height: 150px;
  height: 150px;
  position: relative;
  left: 38%;

}
.linea{

    color: white;
    width: 540px;
    height: 25px;
    position: relative;
    left: 2%;
    top: 30%;
    background-color: #191a2169;
    border-radius:10px;
    border-radius:10px;

}
.contadores{

    width: 540px;
    height: 200px;
    font-family:'Verdana';
    color: white;
    text-align: center;
    font-size: 30px;
    position: absolute;
    left: 2.5%;
    top: 37%;
    background-color: #191a2169;
    border-radius:10px;
    border-radius:10px;
    line-height: 2;
 
}
.score,.timer{

    width: 150px;
    height: 70px;
    position: absolute;
    left: 5%;
    top: 10%;
    background-color: #494280;
    border-radius:5px;
    border-radius:5px;
}
.timer{
    top: 55%;
}
.scoreMostrar,.timerMostrar,#solucion{

    width: 318px;
    height: 70px;
    position: absolute;
    left: 37%;
    top: 10%;
    background-color: #191a21a6;
    border-radius:5px;
    border-radius:5px;
}
.timerMostrar{
    top: 55%;
}
#timerNumber{
    color: white;
    font-size: 30px;
}
#rulersText{
    margin: 12%;

}
#solucion{

    line-height: 2;
    font-family:'Verdana';
    color: white;
    text-align: center;
    font-size: 30px;
    top: 72%;
    left: 10%;
}